# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__
* List popular languages for Data Science
* List the most commonly used libraries for Data Science
* Pros and cons of differnt data science tools
* Create a Jupyter Notebook
* Share the Jupyter Notebook using Github
* Get a deeper overview of SQL, R and Python

Some of the popular languages that Data Scientists use are: 
1. R software
2. Python
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include: 
1. NumPy
2. ggplot2
3. Matplotlib
4. Pandas

|Data Science Tools|
|------------------|
|R-Studio|
|Jupyter|
|Spyder|
| Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
## EX 8 : This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
## EX9 : This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Minna Castoe